.common-window__profile-user-name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #262626;
  opacity: 0.8;
}

@media screen and (max-width: 650px) {
  .common-window__profile-user-name {
    font-size: 18px;
  }
}
