@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothaMediumOTF.otf");
}

html {
  overflow: hidden;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: "Gotham", sans-serif;
  margin: 0;
}

div,
input {
  box-sizing: border-box;
}