.common-window__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 48px 48px 60px;
}

.common-window__profile-avatar {
  width: 128px;
  height: 128px;
  border: 1px solid #979797;
  border-radius: 50%;
  background-color: #979797;
  margin-bottom: 40px;
  border-radius: 50%;
}

.common-window__profile-user-name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #262626;
  opacity: 0.8;
}

.common-window__logout-button {
  margin-top: 48px;
}



@media screen and (max-width: 650px) {
  .common-window__profile {
    width: 288px;
    padding: 32px 24px 48px;
  }

  .common-window__profile-avatar {
    width: 86px;
    height: 86px;
  }

  .common-window__profile-user-name {
    font-size: 18px;
  }

  .common-window__logout-button {
    margin-top: 40px;
  }
}
